// Modified from: https://codepen.io/bhv/pen/vRmRZR
.md-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  border-radius: 32px;

  height: 32px;
  font-size: 13px;
  margin-right: 8px;
  padding: 0 12px;
  user-select: none;
  &:hover {
    background: #ccc;
  }
  &.active {
    background: #2a7ae2;
    color: #fff;
  }
  &-clickable {
    cursor: pointer;
  }
  &-icon {
    max-width: 60%;
  }
}

.md-chip-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 0 4px 0 -4px;
  padding: 0;
  &:active {
    background: #777;
  }
}
