@import "chips";

.filters {
    display: inline-block;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none; // Hide scrollbar for Firefox

    &::-webkit-scrollbar {
        display: none; // Hide scrollbar for Webkit browsers
    }
}

.dataTables_filter input {
    height: 32px;
}

td.check {
    color: #008000;
    text-align: center;
    font-weight: 900;
}

@media screen and (max-width: 640px) {

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: right !important;
        text-align: right !important;
        margin-top: 0 !important;
    }

    .filters {
        max-width: 50%;
    }
}
