---
layout: default
---
{%- assign date_format = site.bootstrap.date_format | default: '%b %-d, %Y' -%}
{%- assign core_id = page.tags | first -%}
{%- assign key = core_id | remove: '.' -%}
{%- assign core = site.data.cores[key] -%}
{%- assign icon_path = core_id | prepend: '/assets/images/authors/' | append: '.png' -%}
{%- assign icon_exists = site.static_files | where: 'path', icon_path | first -%}
<h1 class="mt-5">{{ page.title | escape }}</h1>
<div class="d-flex align-items-center mb-4 text-muted">
  <a class="d-flex align-items-center text-muted text-decoration-none" href="{{ core.metadata.url }}" target="_blank"
    rel="noopener">
    {%- if icon_exists -%}<img class="mb-0 me-2 rounded-2" src="{{ icon_path | relative_url }}" />{%- endif -%}
    <span>{{ page.author }}</span>
  </a>
  <span class="d-flex align-items-center ms-3" title="{{ page.date | date: date_format }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="me-2" viewBox="0 0 16 16">
      <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"></path>
      <path
        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z">
      </path>
    </svg>
    {{ page.date | date: date_format }}
  </span>
</div>
{{ content }}
